.App-header,
.App-header-hidden {
  background-image: linear-gradient(90deg, #6510ad 60%, #104fad);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  transform: none;
  transition: transform 0.5s;
}

.App-header-hidden {
  box-shadow: 0 0 0 0;
  transform: translateY(-64px);
}

.App-logo {
  margin: auto;
  margin-right: 12px;
  height: 50%;
  width: 32px;
}

.App-name {
  color: white;
  height: 100%;
  margin-right: 48px;
  white-space: nowrap;
}

.App-menu {
  line-height: 64px;
  background-color: transparent;
  flex-grow: 1;
}

.App-actions {
  margin: auto;
}

.App-drawer-icon {
  display: none;
}

@media screen and (max-width: 480px) {
  .App-menu {
    display: none;
  }

  .App-actions {
    display: none;
  }

  .App-drawer-icon {
    display: inherit;
    margin: auto;
  }
}
