.ArticlePage {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media screen and (max-width: 480px) {
  .ArticlePage {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
  }

  .markdown-body {
    padding: 10px;
  }
}
